
.blog-single-author {
   
    img {
        object-fit: cover;
        width: 70px;
        height: 70px;
        border-radius: 50%;

    }
}
.blog-banner{
   
    img{
        margin: 0 auto;
        border-radius: 10px;
    }
}

.all-blog {
    .single-blog img.blog-banner{
        height: 20vw;
        width: 100%;
        object-fit: cover;
    }
}

@media (max-width: 767px){

    .all-blog {

        .single-blog{
            width: 300px;
            margin: 0 auto;
        }
        .single-blog img.blog-banner{
            height: 40vw;
        }
    }
}

.description{
    img {
        max-width: 100%;
    }

    table,
    table td,
    table tr,
    span,
    div {
        max-width: 100%;
    }
    p {
        max-width: 100%;
        text-align: justify !important;
    }
}