
.blog-single-author {
   
    img {
        object-fit: cover;
        width: 70px;
        height: 70px;
        border-radius: 50%;

    }
}
.blog-banner{
   
    img{
        margin: 0 auto;
        border-radius: 10px;
    }
}