.landing-page {
    font-family: 'Raleway', sans-serif;
}



.single-exam {
    box-shadow: 0px -2px 87px rgba(0, 0, 0, 0.056545), 0px -0.446726px 19.4326px rgba(0, 0, 0, 0.083455), 0px -0.133002px 5.78559px rgba(0, 0, 0, 0.14);
    border-radius: 30px;
    background-size: cover;
    max-width: 250px;
   h5 {
        min-height: 7rem;
        font-size: 25px;
        font-weight: 600;
    }
    &:hover {
        box-shadow: 0 0px 25px rgba(101, 48, 146, 0.5);
    }

    // &.physics{
    //     background-image: url('/img/landing/physics.png');
    // }
    // &.bio{
    //     background-image: url('/img/landing/bio.png');
    // }
    // &.chemistry{
    //     background-image: url('/img/landing/chemistry.png');
    // }
    // &.math{
    //     background-image: url('/img/landing/math.png');
    // }
}

.single-package {
    box-shadow: 0px 56px 138px rgba(0, 0, 0, 0.0848175), 0px 12.5083px 30.8241px rgba(0, 0, 0, 0.125183), 0px 3.72406px 9.17714px rgba(0, 0, 0, 0.21);
    border-radius: 30px;

    img {
        border-radius: 30px;
    }

    .package-icon {
        img {

            width: 7rem;
            height: 7rem;
            // background: #EEFFF4;
            // background-color: red;
            box-shadow: 0px 9px 80px rgba(0, 0, 0, 0.0731663), 0px 2.71324px 24.1177px rgba(0, 0, 0, 0.105), 0px 1.12694px 10.0172px rgba(0, 0, 0, 0.136834), 0px 0.407592px 3.62304px rgba(0, 0, 0, 0.21);
            border-radius: 20px;
        }
    }
}

.drop-shadow {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}


.single-reader {
    iframe {
        border-radius: 10px;

        &.h-18 {
            height: 18rem;
        }
    }
}

.single-footer-column {
    ul {
        list-style: none;
    }

    a {
        color: #86898C;
        font-size: 12px;
    }
}

.single-input-group {
    height: 50px;
    border: 2px solid #C4C4C4;
    border-radius: 10px;
    padding: 5px;

    input {
        border: none;
        padding: 5px;
        width: 100%;
    }

    img {
        width: 24px;
        height: 24px;
        margin-top: 5px;
        margin-right: 5px;
    }
}

.social-icons {
    img {
        width: 30px;
    }
}

.single-blog {
    position: relative;

    .blog-info {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
    }

    &.overlay:after {
        border-radius: 10px;
    }

    &:hover {
        &.overlay:after {
            background: rgba(0, 0, 0, 0.056545);
            transition: 1s;
        }
    }
}

.blog-author {
    width: 40px;
    height: 40px;
    background-color: #86898C;
    border-radius: 50%;

    img {
        object-fit: cover;
    }
}

.course-category{
    position: relative;
    #stop-click{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: transparent;
    }
}

