.lecture-page{

    .nav-tabs .nav-link{
        border-radius: 7px 7px 0 0;
        font-weight: 600;
        &:hover{
            color: inherit;
        }
    }
    .lecture-tab.card-header{
        border-bottom: none;
    }
    a.lecture-navigation {
        // position: absolute;
        // top: calc(50% - 36px);
        // left: -25px;
        font-size: 18px;
        color: $purple;
        &.next{
            left: auto;
            right: -25px;
        }
    }
    @media (max-width: 767px) {
        .nav-tabs .nav-link{
            font-size: 20px;
        }
    }
}