#roadmapParentContainer {
    background: url("/img/road_map/roadmapBackground.png");
    color: whitesmoke;
  }
  @media screen and (max-width: 576px){
    #ilandGrandParentContainer {
      padding-left: 3%;
      padding-right: 3%;
    }
  }