#roadmapParentContainer {
    background: url("/img/road_map/roadmapBackground.png");
    color: white;
  }
#roadmap-nav {
  background: linear-gradient(90deg,#410169 0%,#280042 27%);
  opacity: 80%;
  max-height: 80px;
}
#roadmap-back-btn {
  max-height: 70px;
}
  @media screen and (max-width: 576px){
    #roadmap-subject-topic-name {
      font-size: 25px;
    }
    #ilandsParentContainer {
      margin-right: 15px;
      margin-left: 15px;
      width: 50%;
    }
    .onStreamStair {
      content: url("/img/road_map/stairDownwordsL2R.png");
    }
    .reverseStreamStair {
      content: url("/img/road_map/stairDownwordsR2L.png");
    }
  }