.btn-register{
    // font-size: 30px;
    font-weight: 700;
    border-radius: 40px;
    padding: 10px;
    .icon{
        color: #663193;
        font-size: 12px;
        background: #ffffff;
        border-radius: 50px;
        padding: 6px 7px;
    }
}
.btn-purple{
    font-size: 14px;
    font-weight: 800;
    background-color: $purple;
    color: #ffffff;
    &:hover{
        color: #ffffff;
        box-shadow: 0 0 5px $purple;
    }
}
.btn.btn-outline{
    border: 2px solid #653092;
    color: #663193;
    border-radius: 10px;
    &:hover{
        background-color: #663193;
        color: #ffffff;
    }
}
.btn.bg-purple{
    &:hover{
        box-shadow: 0 0 15px rgba(101,48,146,0.5);
    }
}